<div class="SD_page">
  <div class="SD_home_button">
    <%= link_to solideo_depenses_path do %><i class="fas fa-chevron-left"></i>Retour à la Solideo<%end %>
  </div>
 
  <h1 class="SD_title">Les financements de la Solideo </h1>

   <%= render 'topo'%>
  
  <div id="table_filtres">
    <%= render 'table'%>
  </div>

</div>




