<div class="page_w">
 <div class="i24"></div>
  <div class="titre_page text-center">Les financements de la Solideo </div>
  <div class="i40"></div>

   <%= render 'topo'%>

</div>


<script>

  $('.menu-solideo-finances').addClass('menu-active2'); 
  $('.menu-solideo').addClass('menu-active'); 

  $('#MonCollapse').addClass('in'); 

</script>

