<div class="mxw1 pd32 ma">
 <div class="i24"></div>
  <div class="c2 fw6 fs40 tc">Les financements de la Solideo </div>
  <div class="i40"></div>

   <%= render 'topo'%>

</div>


<script>

  $('.menu-solideo-finances').addClass('menu-active2'); 
  $('.menu-solideo').addClass('menu-active'); 

  $('#MonCollapse').addClass('in'); 

</script>

