<div class="SD_page">
 
  <h1 class="SD_title">Les financements de la Solideo </h1>

   <%= render 'topo'%>
  
  <div id="table_filtres">
    <%= render 'table'%>
  </div>

</div>


<script>

  $('.menu-solideo-finances').addClass('menu-active2'); 
  $('.menu-solideo').addClass('menu-active'); 

  $('#MonCollapse').addClass('in'); 

</script>

