<div class="O-jalons-box">
  <div class="O-jalons-chart">
  </div>
   <div class="O-jalons-infos">
     <h1 class="O_title"><span>Avancée de l'ouvrage</span></h1>
     <div class="O_jalon">
       Degré de completion (financement)
     </div>
     <div class="O_jalon">
       Degré de completion (réalisation)
     </div>
     
  </div>
</div>