<div class="SD-table-box">
   <div class="SD-topo-box-title">
    <span>Calendrier des travaux</span>
  </div><br><br>
   <div >

  
     <div id="container-steps">
       
     </div>
     
  </div>
</div>

<script>
Highcharts.chart('container-steps', {
    chart: {
        type: 'xrange',
      spacing: [40,40,40,40],
        style:{
          fontFamily: "Spectral",
          },
    
    },
    title: {
        text: "Timeline de l'ouvrage",
        margin:40,
        style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
          fontStyle: 'italic',
          fontSize: '16px',
                  },
    },
   accessibility: {
        point: {
            descriptionFormatter: function (point) {
                var ix = point.index + 1,
                    category = point.yCategory,
                    from = new Date(point.x),
                    to = new Date(point.x2);
                return ix + '. ' + category + ', ' + from.toDateString() +
                    ' to ' + to.toDateString() + '.';
            }
        }
    },
   
    xAxis: {
        type: 'datetime'
    },
    yAxis: {
        title: {
            text: ''
        },
      gridLineColor: "#fff",
        categories: ['Avancée', 'Avancée prévue'],
        reversed: true
    },
  tooltip: {
    xDateFormat: '%Y',
    headerFormat: '<span style="font-size: 10px">{point.key}</span><br/>',
    pointFormat: '<span style="color:{point.color}">●</span> {series.name}: <b>{point.x}</b><br/>'
  },
    series: [{
        name: 'Avancée',
        // pointPadding: 0,
        // groupPadding: 0,
       // borderColor: 'gray',
    
        pointWidth: 20,
        data: [{
            name: "Appel d'offre",
            x: Date.UTC(2019, 1, 1),
            x2: Date.UTC(2020, 1, 1),
            y: 0,
             partialFill: 0.25,
          color: '#F6F930',
        }, {
          name: "Jalon1",
            x: Date.UTC(2020, 1, 1),
            x2: Date.UTC(2020, 1, 1),
            y: 0,
             color: '#B8C3BA',
        }, {
           name: "Jalon 2",
            x: Date.UTC(2021, 1, 1),
            x2: Date.UTC(2021, 1, 1),
            y: 0,
          color: '#2E5D63',
        }, {
           name: "Jalon 3",
            x: Date.UTC(2022, 1, 1),
            x2: Date.UTC(2022, 1, 1),
            y: 0,
          color: '#4F82CE',
        }, {
           name: "Jalon 4",
            x: Date.UTC(2023, 1, 1),
            x2: Date.UTC(2023, 1, 1),
            y: 0,
          color: '#D4C2AA',
        }],
        dataLabels: {
            enabled: true
        }
    },{
        name: 'Avancée prévue',
        // pointPadding: 0,
        // groupPadding: 0,
       // borderColor: 'gray',
    
        pointWidth: 20,
        data: [{
          name: "Appel d'offre",
            x: Date.UTC(2019, 1, 1),
            x2: Date.UTC(2020, 1, 1),
            y: 1,
          color: '#F6F930',
          
        }, {
           name: "Jalon 1",
            x: Date.UTC(2020, 1, 1),
            x2: Date.UTC(2021, 1, 1),
            y: 1,
           color: '#B8C3BA',
        }, {
           name: "Jalon 2",
            x: Date.UTC(2021, 1, 1),
            x2: Date.UTC(2022, 1, 1),
            y: 1,
           color: '#2E5D63',
        }, {
           name: "Jalon 3",
            x: Date.UTC(2022, 1, 1),
            x2: Date.UTC(2023, 1, 1),
            y: 1,
           color: '#4F82CE',
        }, {
           name: "Jalon 4",
            x: Date.UTC(2023, 1, 1),
            x2: Date.UTC(2024, 1, 1),
            y: 1,
           color: '#D4C2AA',
        }],
        dataLabels: {
            enabled: true
        }
    }]

});
</script>