<div class="SD-table-box">
   <div class="SD-topo-box-title">
    <span>Calendrier des travaux</span>
  </div><br><br>
  <div class="calendar-infos">
    <div class="calendar-infos-box">
      <div class="calendar-number">
        20%
      </div>
      <div>
        <span>Avancée globale</span>
      </div>
    </div>
    <div class="calendar-infos-box">
      <div>
      <i class="fas fa-tasks"></i>
      </div>
      <div>
      2/2<br>
      <span>Chantiers attribués</span>
      </div>
    </div>
    <div class="calendar-infos-box">
      <div>
      <i class="fas fa-flag"></i>
      </div>
      <div>
      2/2<br>
        <span>Chantiers démarrés</span>
      </div>
    </div>
    <div class="calendar-infos-box">
      <div>
      <i class="fas fa-map-marked-alt"></i>
      </div>
      <div>
      0/2<br>
        <span>Chantiers livrés</span>
      </div>
    </div>
    <div class="calendar-infos-box">
      <div>
      <i class="fas fa-stopwatch"></i>
      </div>
      <div>
      1/2<br>
        <span>Chantiers retardés</span>
      </div>
    </div>
  </div>
  <div>
     <div id="container-steps">
     </div>    
  </div>
</div>

<script>
Highcharts.chart('container-steps', {
    chart: {
        type: 'xrange',
      spacing: [40,40,40,40],
        style:{
          fontFamily: "Spectral",
          },
    
    },
    title: {
        text: "Timeline des chantiers ",
        margin:40,
        style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
          fontStyle: 'italic',
          fontSize: '16px',
                  },
    },

    xAxis: {
        type: 'datetime'
    },
    yAxis: {
        title: {
            text: ''
        },
      gridLineColor: "#fff",
        categories: ['Chantier A', 'Chantier B'],
        reversed: true
    },
  tooltip: {
    
    headerFormat: '<span style="font-size: 10px">{point.key}</span><br/>',
    pointFormat: '<span style="color:{point.color}">●</span> {series.name}, deadline : <b>{point.x}</b><br/>',
    xDateFormat: '%Y',
  },
    series: [{
        name: 'Chantier A',
        // pointPadding: 0,
        // groupPadding: 0,
       // borderColor: 'gray',
    
        pointWidth: 20,
        data: [{
            name: "Appel d'offre",
            x: Date.UTC(2019, 1, 1),
            x2: Date.UTC(2020, 1, 1),
            y: 0,
             partialFill: 0.25,
          color: '#F6F930',
        }, {
          name: "Jalon1",
            x: Date.UTC(2020, 1, 1),
            x2: Date.UTC(2020, 6, 1),
            y: 0,
             color: '#B8C3BA',
        }, {
           name: "Jalon 2",
            x: Date.UTC(2020, 6, 1),
            x2: Date.UTC(2022, 1, 1),
            y: 0,
          color: '#2E5D63',
        }, {
           name: "Jalon 3",
            x: Date.UTC(2022, 1, 1),
            x2: Date.UTC(2023, 1, 1),
            y: 0,
          color: '#4F82CE',
        }, {
           name: "Jalon 4",
            x: Date.UTC(2023, 1, 1),
            x2: Date.UTC(2023, 6, 1),
            y: 0,
          color: '#D4C2AA',
        }],
        dataLabels: {
            enabled: true
        }
    },{
        name: 'Chantier B',
        // pointPadding: 0,
        // groupPadding: 0,
       // borderColor: 'gray',
    
        pointWidth: 20,
        data: [{
          name: "Appel d'offre",
            x: Date.UTC(2019, 1, 1),
            x2: Date.UTC(2020, 1, 1),
            y: 1,
          color: '#F6F930',
           partialFill: 1,
          
        }, {
           name: "Jalon 1",
            x: Date.UTC(2020, 1, 1),
            x2: Date.UTC(2021, 1, 1),
            y: 1,
           color: '#B8C3BA',
          partialFill: 0.50,
        }, {
           name: "Jalon 2",
            x: Date.UTC(2021, 1, 1),
            x2: Date.UTC(2022, 1, 1),
            y: 1,
           color: '#2E5D63',
        }, {
           name: "Jalon 3",
            x: Date.UTC(2022, 1, 1),
            x2: Date.UTC(2023, 1, 1),
            y: 1,
           color: '#4F82CE',
        }, {
           name: "Jalon 4",
            x: Date.UTC(2023, 1, 1),
            x2: Date.UTC(2024, 1, 1),
            y: 1,
           color: '#D4C2AA',
        }],
        dataLabels: {
            enabled: true
        }
    }],

});
</script>