<div class="SD-table-box">
   <div class="SD-topo-box-title">
    <span>Avancée de l'ouvrage</span>
  </div><br><br>
   <div class="O-jalons-infos">
     <div class="O_jalon">
       Degré de completion (financement)
     </div>
     <div class="O_jalon">
       Degré de completion (réalisation)
     </div>
     
  </div>
</div>