
 <section class="box_page" id="budget_section">
  <div>
    <span class="titre_section">Suivi du Budget</span>
  </div>
  <div class="i24"></div>

  <div id="suivi_temp"></div>
  <div class="i40"></div>
 
   
  <div class="i24"></div>

</section>

<div class="i24"></div>

<div class="box_page">
  <div>
    <span class="titre_section">Financements</span>
  </div>
  <div class="i24"></div>
  <div class="row">
    <div class="col-md-12"> 
      Données ?
    </div>
  </div>
</div>
<div class="i24"></div>
<script>
Highcharts.chart('suivi_temp', {
chart: {
            type: 'line',
            marginTop:40,
           
            marginRight:0,
            marginLeft:0,
            height:300,
            spacing: [0,0,0,0],
            backgroundColor: '#fff',
            style:{
              fontFamily: "Marianne Regular",
         
              },
        },
        title: {
            text: 'Suivi des droits constatés',
            verticalAlign: "top",
            style: {
                color: "#6A6A6A",
                fontWeight: "400",        
                fontSize: '12px',
                  },
          },

        xAxis: {
          type: 'datetime',
          minTickInterval: 28*24*3600*1000,  
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Droits constatés (M€)'
            },
          gridLineColor: "#fff",
        },
      legend: {
        enabled: false,
      },
      plotOptions: {
        series: {
          lineWidth: 2,
            label: {
                connectorAllowed: false
            },  
           marker: {
                enabled: true
            },
          step: 'left',
        }
      },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><br>',
            pointFormat: '<span style="padding:0"><b> {point.y:.1f} M€</b></span>',
  
            shared: true,
            useHTML: true,
            borderColor: 'transparent',
            borderRadius: 16,
            backgroundColor: '#fff',
        },
        series: [{
            name: 'Droits constatés 2021',
            data: [[Date.UTC(2019,1,1),0],
            <% if !SolideoStructure.where('name = ?',@ouvrage.name).first.nil?%>
            <% SolideoStructure.where('name = ?',@ouvrage.name).first.solideo_structure_depenses.order(date: :asc).each do |d|%>
            [Date.UTC(<%= d.date.year%>,<%= d.date.month-1%>,<%= d.date.day%>) , <%=d.droits_constates_cumul%>],
            <%end%>
            <%end%>
            ],
          }],
        })
</script>