<div class="O-topo-box">
  <div class="O-topo-box-infos">
    <div class="O-topo-image">
      
    </div>
    <div class="O-topo-infos-text">
      Lieu <br>
      MO : <%= @ouvrage.maitre_oeuvre %><br>
      topo <br>
    </div>
    
  </div>
  <% if !@ouvrage_financeurs.nil? %>
  <div class="O-topo-box-financeurs">
     <div class="O-topo-financeurs-title"><span>Financeurs</span></div><br>
    <div class="SF-topo-financeurs-box">
      <div class="SF-topo-financeurs-name"></div>
      <div class="SF-topo-financeurs-budget"><div class="SF-topo-financeurs-budget-prevu"><em>Fin. prévus €</em></div><div class="SF-topo-financeurs-budget-actuel"> | <em>Fin. actuels €</em></div></div>
    </div> <br><br>
    <% @ouvrage_financeurs.each do |financeur| %>
    <div class="SF-topo-financeurs-box">
      <div class="SF-topo-financeurs-name"><%= financeur.name %> </div>
      <div class="SF-topo-financeurs-budget"><div class="SF-topo-financeurs-budget-prevu"><%= number_with_delimiter(financeur.financement_prevu.to_i, :delimiter => ' ')%> €</div><div class="SF-topo-financeurs-budget-actuel"> | <% if !@ouvrage.ouvrages_financements.where('name=?',financeur.name).nil? %> <%= number_with_delimiter(@ouvrage.ouvrages_financements.where('name=?',financeur.name).sum('montant').to_i, :delimiter => ' ') %><% else %> 0<%end%> €</div></div>
    </div>
      <% end %>
  </div>
  <% end %>
</div>