<div class="EB_page">
  <div class="ED_home_button">
    <%= link_to @ouvrage do %><i class="fas fa-chevron-left"></i>Retour<%end %>
  </div>
  <h1 class="EB_title">Modifier l'ouvrage</h1>

<%= render 'form', ouvrage: @ouvrage %>
</div>
