<div class="page_w">
  <div class="i24"></div>
  <div>
    <%= link_to @ouvrage, class:"bouton" do %><i class="fas fa-chevron-left"></i>Retour<%end %>
  </div>
  <div class="titre_page text-center">Modifier l'ouvrage</div>
  <div class="i40"></div>
  <%= render 'form', ouvrage: @ouvrage %>

  <div class="i40"></div>
  <div>
    <%= link_to ouvrage_path,class:"bouton", method: :delete do %>supprimer l'ouvrage <% end %>
  </div>

</div>



