<div class="SD_page">
  <div class="SD_home_button">
    <%= link_to root_path do %><i class="fas fa-chevron-left"></i><i class="fas fa-home"></i>Retour accueil<%end %>
  </div>
  <h1 class="O_title"><span>Ouvrages</span></h1>
<table>


  <tbody>
    <% if !@ouvrages.nil?%>
    <% @ouvrages.each do |ouvrage| %>
      <div class="O-name">
      <%= link_to ouvrage do %>
        <%= ouvrage.name %>          
      <% end %>
      </div>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>
<div class="ED_new_depense">
<%= link_to new_ouvrage_path do%><i class="fas fa-plus-circle"></i> Ajouter un ouvrage <% end %>
  </div>

</div>