<div class="O_page">
 
  
    <h1 class="SD_title"><%= @ouvrage.name %></h1>
  <h1 class="SD_subtitle">Dernière mise à jour : 22 novembre 2020</h1>
  <%= render 'topo_ouvrage'%>
    <%= render 'jalons' %><br><br>
  <%= render 'ouvrage_depenses' %>



    <div class="SD-topo-box">
        <div class="SD-topo-box-title">
          <span>Informations complémentaires</span>
        </div><br><br>
       <div class="row">
         <div class="col-md-6">
           <div class="ouvrages-infos-title">
                Détail du programme 
           </div>
           <div class="ouvrages-flexslider-text">
             - Environ 1 900 logements familiaux (125 060 m2 SDP) et 900 logements spécifiques (18 960 m2 SDP),<br>
            - Activité (6 440 m2 SDP), Bureaux (110 550 m2 SDP), et commerces (2 290 m2 SDP)<br>
            - Nouveaux équipements publics (14 700 m2 SDP)<br>
            - Requalification de la RD1 et des berges de Seine.
           </div>
         </div>
         <div class="col-md-6">
           <div class="ouvrages-infos-title">
                Pendant les JO
              </div>
           <div class="ouvrages-flexslider-text">
             Accueil de 14 250 athlètes et accompagnants pour les JO.<br>
              Accueil de 9 000 athlètes et accompagnants pour les JP.
           </div><br><br>
              <div class="ouvrages-infos-title">
                Héritage 
              </div>
           <div class="ouvrages-flexslider-text">
             Nouveau quartier mixte d’habitat, de bureaux, de commerces et d’équipements publics.
           </div>
         </div>
       </div>
    
      </div>
  
  

</div>
<script>

  $('.menu-ouvrages-ouvrage').addClass('menu-active2'); 
  $('.menu-ouvrages').addClass('menu-active'); 

  $('#ouvrages').addClass('in'); 

</script>