<div class="O_page">
 
  
    <h1 class="SD_title"><%= @ouvrage.name %></h1>
  <h1 class="SD_subtitle">Dernière mise à jour : 22 novembre 2020</h1>
  <%= render 'topo_ouvrage'%>
    <%= render 'jalons' %><br><br>
  <%= render 'ouvrage_depenses' %>



</div>
<script>

  $('.menu-ouvrages-ouvrage').addClass('menu-active2'); 
  $('.menu-ouvrages').addClass('menu-active'); 

  $('#ouvrages').addClass('in'); 

</script>