<div class="O_page">
  <h1 class="SD_title">Timeline des ouvrages</h1>
    <h1 class="SD_subtitle">Dernière mise à jour : 22 novembre 2020</h1> 
<div class="SD-table-box">

      <div id="container-gantt">
        
      </div>
    </div>
</div>


<script>

Highcharts.ganttChart('container-gantt', {
    series: [{
        name: 'Site ',
        data: [{
            name: 'Site A',
            id: 'new_offices',
          
        }, {
            name: 'Ouvrage X',
            id: 'prepare_building',
            parent: 'new_offices',
            start: Date.UTC(2019, 1, 1),
            end: Date.UTC(2022, 1, 1),
            completed: {
                amount: 0.2
            },
        
        }, {
            name: 'Ouvrage X',
            id: 'inspect_building',
            dependency: 'prepare_building',
            parent: 'new_offices',
            start: Date.UTC(2019, 1, 1),
            end: Date.UTC(2022, 1, 1),
     
        }, {
            name: 'Ouvrage X',
            id: 'passed_inspection',
            dependency: 'inspect_building',
            parent: 'new_offices',
            start: Date.UTC(2019, 1, 1),
            end: Date.UTC(2022, 1, 1),
      
        }, {
            name: 'Ouvrage X',
            id: 'relocate',
            dependency: 'passed_inspection',
            parent: 'new_offices',

        }, {
            name: 'Ouvrage X',
            id: 'relocate_staff',
            parent: 'relocate',
            start: Date.UTC(2019, 1, 1),
            end: Date.UTC(2022, 1, 1),
        }, {
            name: 'Ouvrage X',
            dependency: 'relocate_staff',
            parent: 'relocate',
            start: Date.UTC(2019, 1, 1),
            end: Date.UTC(2022, 1, 1),
         
        }, {
            name: 'Ouvrage X',
            dependency: 'relocate_staff',
            parent: 'relocate',
            start: Date.UTC(2019, 1, 1),
            end: Date.UTC(2022, 1, 1),
        }]
    }, {
        name: 'site',
        data: [{
            name: 'Site A',
            id: 'new_product',
        }, {
            name: 'Ouvrage X',
            id: 'development',
            parent: 'new_product',
            start: Date.UTC(2019, 1, 1),
            end: Date.UTC(2022, 1, 1),
            completed: {
                amount: 0.6,
                fill: '#e80'
            },
        }, {
            name: 'Ouvrage X',
            id: 'beta',
            dependency: 'development',
            parent: 'new_product',
            start: Date.UTC(2019, 1, 1),
            end: Date.UTC(2022, 1, 1),
        
        }, {
            name: 'Ouvrage X',
            id: 'finalize',
            dependency: 'beta',
            parent: 'new_product',
            start: Date.UTC(2019, 1, 1),
            end: Date.UTC(2022, 1, 1),
        }, {
            name: 'Ouvrage X',
            dependency: 'finalize',
            parent: 'new_product',
            start: Date.UTC(2019, 1, 1),
            end: Date.UTC(2022, 1, 1),
           
        }]
    }],
    title: {
        text: null,
    },
    xAxis: {
        currentDateIndicator: true,
        min: Date.UTC(2019, 1, 1),
        max: Date.UTC(2025, 1, 1)
    }
});
</script>


<script>

  $('.menu-ouvrages-timeline').addClass('menu-active2'); 
  $('.menu-ouvrages').addClass('menu-active'); 

  $('#MonCollapse3').addClass('in'); 

</script>