<h1>Editing Ouvrages Financement</h1>

<%= render 'form', ouvrages_financement: @ouvrages_financement %>

<%= link_to 'Show', @ouvrages_financement %> |
<%= link_to 'Back', ouvrages_financements_path %>
