<div class="page_w">
  <div class="i24"></div>
  <div class="titre_page text-center">Ajouter un nouveau document</div>
  <div class="i40"></div>


<%= render 'form', ouvrages_financement: @ouvrages_financement %>
</div>
