<div class="EB_page">
  <div class="ED_home_button">
    <%= link_to ouvrages_path do %><i class="fas fa-chevron-left"></i>Retour<%end %>
  </div>
  <h1 class="EB_title">Financement ouvrages</h1>


<%= render 'form', ouvrages_financement: @ouvrages_financement %>
</div>
