<div class="O_page">
  <h1 class="SD_title">Risques des chantiers</h1>
  
  <div class="SD-table-box">
    <div class="SD-topo-box-title">
            <span>Chiffres</span>
    </div><br><br>
    <div class="risques-actu-text">Aujourd'hui il existe : </div>
    <div class="risques-actu-box">
      <div class="risques-actu-infos"><span>3</span> risques critiques</div>
      <div class="risques-actu-infos"><span>4</span> risques modérés</div>
      <div class="risques-actu-infos"><span>5</span> risques faibles</div>
    </div>
    <br><br>
    <div class="SD-topo-box-title">
            <span>Risques actuels</span>
    </div><br><br>
    
    <div class="risques-infos-title" > Risques critiques</div>
    <div class="risque-infos-line" >
      <div class="risque-infos-name"> <%= link_to chantier_path(Chantier.first) do %>Chantier Y <br><span>Ouvrage X</span> <% end %></div>
      <div class="risque-infos-date">Novembre 2020 </div>
      <div class="risque-infos-moa">MOA ville de paris</div>
      <div class="risque-infos-text">Risque budget : 80% </div>
      <div class="risque-infos-action">Risque délai : 20%</div>
    </div>
    <br>
    <div class="risques-infos-title" > Risques modérés</div>
     <div class="risque-infos-line" >
      <div class="risque-infos-name"> <%= link_to chantier_path(Chantier.first) do %>Chantier Y <br><span>Ouvrage X</span> <% end %></div>
      <div class="risque-infos-date">Novembre 2020 </div>
      <div class="risque-infos-moa">MOA ville de paris</div>
      <div class="risque-infos-text">Risque budget : 60% </div>
      <div class="risque-infos-action">Risque délai : 20%</div>
    </div>
    <br>
    <div class="risques-infos-title" > Risques faibles</div>
     <div class="risque-infos-line" >
      <div class="risque-infos-name"> <%= link_to chantier_path(Chantier.first) do %>Chantier Y <br><span>Ouvrage X</span> <% end %></div>
      <div class="risque-infos-date">Novembre 2020 </div>
      <div class="risque-infos-moa">MOA ville de paris</div>
      <div class="risque-infos-text">Risque budget : 10% </div>
      <div class="risque-infos-action">Risque délai : 10%</div>
    </div>
  </div>
</div>

<script>

  $('.menu-solideo-chantiers').addClass('menu-active2'); 
  $('.menu-solideo').addClass('menu-active'); 

  $('#MonCollapse').addClass('in'); 

</script>