<div class='background'>
<%= render 'layouts/navigation_public'%> 
</div>
<div class="i100 visible-xs visible-sm"></div>
<div class="page_w">
  <div class="i24"></div>
  <div class="titre_page">Déclaration Accessibilité </div>
  <div class="i40"></div>
  
  <div  class="pd32 br20 bs bckc1">

    <div class="mentions-subtitle">Déclaration d’accessibilité</div>
Le ministère de l'Economie, des Finances et de la Relance s’engage à rendre son service accessible, conformément à l’article 47 de la loi n° 2005-102 du 11 février 2005.<br><br>

Cette déclaration d’accessibilité s’applique à Datalympics.
    <div class="mentions-subtitle">Etat de conformité</div>

Datalympics est non conforme avec le RGAA 4.1. Moins de 50 % des critères de contrôle du RGAA sont respectés.

    <div class="mentions-subtitle">Résultats des tests</div>
    L’audit de conformité réalisé en interne révèle que :<br>

10% des critères RGAA sont respectés.

    <div class="mentions-subtitle">Contenus non accessibles</div>

    <div class="mentions-subtitle">Etablissement de cette déclaration d’accessibilité</div>

Cette déclaration a été établie le 15 juin 2021 grâce au <a href="https://betagouv.github.io/a11y-generateur-declaration/#create" target="_blank">Générateur de Déclaration d’Accessibilité de BetaGouv</a> <br><br>
Technologies utilisées pour la réalisation du site web :<br>

A remplir<br><br>

Agents utilisateurs, technologies d’assistance et outils utilisés pour vérifier l’accessibilité<vr>

Les tests des pages web ont été effectués avec les combinaisons de navigateurs web et lecteurs d’écran suivants :<br>

[Indiquer les combinaisons utilisées pour effectuer les vérifications de conformité]
A remplir<br><br>


Pages du site ayant fait l’objet de la vérification de conformité

A remplir<br>

    <div class="mentions-subtitle">Retour d’information et contact</div>

Si vous n’arrivez pas à accéder à un contenu ou à un service, vous pouvez contacter le responsable du site Datalympics pour être orienté vers une alternative accessible ou obtenir le contenu sous une autre forme.<br><br>

Envoyer un message : A remplir<br>
Contacter :  A remplir <br>

    <div class="mentions-subtitle">Voie de recours</div>

Cette procédure est à utiliser dans le cas suivant : vous avez signalé au responsable du site internet un défaut d’accessibilité qui vous empêche d’accéder à un contenu ou à un des services du portail et vous n’avez pas obtenu de réponse satisfaisante.<br><br>

Vous pouvez :<br>

Écrire un message au <a href="https://formulaire.defenseurdesdroits.fr/code/afficher.php?ETAPE=accueil_2016" target="_blank">Défenseur des droits</a><br>
Contacter <a href="https://www.defenseurdesdroits.fr/saisir/delegues" target="_blank">le délégué du Défenseur des droits dans votre région.</a> <br>
Envoyer un courrier par la poste (gratuit, ne pas mettre de timbre) :<br>
Défenseur des droits<br>
Libre réponse 71120 75342 Paris CEDEX 07



    
  </div>


  <br>
  
</div>

<script>
  $('.mentions').addClass('menu-active'); 
</script>