<div class="SD_page">
 
  <h1 class="SD_title">Documents Budgétaires </h1>
  
  <div class="SD-topo-box">
   <div class="SF-topo-financeurs-title"><span>Liste des Documents </span></div><br>
    <br>
    <div class="row">
     <div class="col-md-12">
        <div class="documents-mois-titre">
          2020
        </div>
       <div class="documents-mois-doc">
         <i class="far fa-file-pdf"></i> RAP 2020 
         <div class="documents-etat-btn"><a>Transmettre</a></div>
       </div>
       <div class="documents-mois-doc">
         <i class="far fa-file-pdf"></i> PAP 2020 
         <div class="documents-etat-btn"><a>Télécharger <i class="fas fa-cloud-download-alt"></i></a><a class="documents-etat-delete"><i class="fas fa-trash-alt"></i></a></div>
       </div>
      </div>
    </div>  
  </div>
</div>

<script>

  $('.menu-budget-docs').addClass('menu-active2'); 
  $('.menu-budget').addClass('menu-active'); 

  $('#MonCollapse2').addClass('in'); 

</script>