<div class="EB_page">
  <h1 class="EB_title">
  Bienvenue sur le site Datalympics !
  </h1>
  <div class="EB_new_button">
    <%= link_to etat_budgets_path do %>Voir le budget de l'Etat <% end %>
    </div>
 
   <div class="EB_new_button">
    <%= link_to solideo_depenses_path do %>Voir le suivi des dépenses de la Solideo<% end %>
    </div>
  <div class="EB_new_button">
    <%= link_to ouvrages_path do %>Voir le suivi des ouvrages<% end %>
    </div>
   <div class="EB_new_button">
    <%= link_to collectivites_path do %>Voir les dépenses des collectivités<% end %>
    </div>
</div>
