<div class="home_page_1_bis">


  <%= image_tag "home.jpg" %>

<div class="home_page">
 
  <br>
  <div class="home_choice_text text-center">
    Suivre le budget par acteur 
  </div>
  <div class="home_choice_box">
    <div class="home_choice_button">
      <%= link_to etat_budgets_path do %>Etat <% end %>
    
      <%= link_to collectivites_path do %>Collectivités<% end %>
 
      <%= link_to solideo_depenses_path do %>Solideo<% end %>
  
      <a>COJO</a>
    </div>
       
  </div>
  
 

  
  <h1 class="home_title">
  Datalympics
  </h1>
  <h2 class="home_subtitle">
    Outil de suivi des financements des JOP2024
  </h2>

  
   
</div>
</div>