<div class="EB_page">
  <h1 class="EB_title">
  Bienvenue sur le site Datalympics !
  </h1>
  
 
  <div class="EB_new_button">
    <%= link_to etat_depenses_path do %>Voir le suivi des dépenses de l'Etat <% end %>
    </div>
</div>
