<%= render 'shared/navlogin_form'%>
<script>
  AOS.init();
</script>
<div class='background'>
<%= render 'layouts/navigation_public'%> 
</div>
<div class='background'>
  <div class="page-public">
    <div class="row">
      <div class="col-md-12">
        <div class="public-title">Quels sont les impatcs des JOP24 ?</div>

      <div class="graphic">
        <div class="graphe-box">
          <div class="position-sticky">
          <div class="step tp1">
                Au total les jeux accueilleront
          </div> 
          </div>
        </div>
        <div class="graphe-box">
            <div class="public-chiffres-aos" data-aos="fade-left" data-aos-duration="1500"><span>15000 </span>athlètes</div>
            <div class="public-chiffres-aos" data-aos="fade-left" data-aos-duration="1500"><span>182</span> nations</div>
            <div class="public-chiffres-aos" data-aos="fade-left" data-aos-duration="1500"><span>32</span> sports olympiques</div>
            <div class="public-chiffres-aos" data-aos="fade-left" data-aos-duration="1500"><span>22</span> sports paralympiques</div>
            <div class="public-chiffres-aos" data-aos="fade-left" data-aos-duration="1500"><span>540</span> épreuves</div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
<div class='background'>
<%= render 'layouts/footer'%> 
</div>