<div class="mxw1 pd32 ma">
  <div class="i24"></div>
  <div class="c2 fw6 fs40 tc">Le fond d'innovation </div>
  <div class="i40"></div>
  
</div>

<script>
  $('.menu-innovation').addClass('menu-active'); 
</script>