<div class="page_w">
  <div class="i24"></div>
  <div class="titre_page">Les JOP2024 </div>
   <div class="i40"></div>
  
  <div class="box_page">
    <div><span class="titre_section">Les jeux en chiffres </span></div>
    <div class="i24"></div>

  
    <div class='box_alignement'>
      <div class="box_chiffre inline-flex">
        <div>
          <i class="fas fa-coins"></i>
        </div>
        <div>
          <div class="chiffre_cle">7,6 Md€</div>
          <div class="texte_chiffre">Coûts totaux prévus</div>
        </div>
      </div>
      <div class="box_chiffre inline-flex">
        <div>
        <i class="fas fa-chart-pie"></i>
        </div>
        <div>
        <div class="chiffre_cle">25%</div>
          <div class="texte_chiffre">Dépenses publiques</div>
        </div>
      </div>
      <div class="box_chiffre inline-flex">
        <div>
        <i class="fas fa-building"></i>
        </div>
        <div>
        <div class="chiffre_cle">377</div>
          <div class="texte_chiffre">TPE / PME sollicitées</div>
        </div>
      </div>
    </div>
    <div class="i24"></div>
    <div class="box_alignement">
      <div class="box_chiffre inline-flex">
        <div>
          <i class="fas fa-funnel-dollar"></i>
        </div>
        <div>
          <div class="chiffre_cle">1,8 Md€</div>
          <div class="texte_chiffre">Part publique </div>
        </div>
      </div>
      <div class="box_chiffre inline-flex">
        <div>
        <i class="fas fa-table-tennis"></i>
        </div>
        <div>
        <div class="chiffre_cle">12 collectivités</div>
          <div class="texte_chiffre">Participation au financement </div>
        </div>
      </div>
      <div class="box_chiffre inline-flex">
        <div>
        <i class="fas fa-briefcase"></i>
        </div>
        <div>
        <div class="chiffre_cle">XX</div>
          <div class="texte_chiffre">Emplois créés </div>
        </div>
      </div>
    </div>
    
  </div>
  <div class="i24"></div>

  <div class="row">
    <div class="col-md-6">
    <div class="box_page">
    <div><span class="titre_section">La SOLIDEO </span></div><div class="i24"></div>
    <div class="c6 fs14">La SOLIDEO (Société de livraison des ouvrages olympiques) est un EPIC responsable de la livraison des 62 ouvrages olympiques et paralympiques.</div>
    <div class="i24"></div>

    <div class="row">
      
      <div class="inline-flex w100">
        <div class="inline-flex wa ma">
       
        <div>
          <span class="c1 fs14 fw7">97 </span><br>
          <span class="c6 fs14 fw5">ETP</span>
        </div>
        </div>
        <div class="inline-flex wa ma">
        
        <div>
          <span class="c1 fs14 fw7">3,7 Md€</span><br>
          <span class="c6 fs14 fw5">Budget global</span>
        </div>
        </div>
        <div class="inline-flex wa ma">  
          <div>
            <span class="c1 fs14 fw7">49%</span> <br>
            <span class="c6 fs14 fw5">Du budget des JOP24</span>
          </div>
        </div>
      
      </div>
    </div>
     
   <div class="row">
      <div id="container-pie">      
    </div>    
  </div>
  </div>
    </div>
    <div class="col-md-6">
      <div class="box_page">
      <div><span class="titre_section">Le COJO </span></div><div class="i24"></div>
        
        <div class="c6 fs14">Le COJO (Comité Organisation Jeux Olympiques et Paralympiques) est une association à but non lucratif, chargé de l'organisation matérielle des Jeux de 2024, ce qui comprend notamment l'aménagement des sites sportifs, la sécurité, le transport, les ressources humaines, la gestion de la billetterie ou encore la communication.</div>

         <div class="i24"></div>

    
      <div class="row">
        <div class="inline-flex w100">
          <div class="inline-flex wa ma">
         
          <div>
            <span class="c1 fs14 fw7">XX </span><br>
            <span class="c6 fs14 fw5">ETP</span>
          </div>
          </div>
          <div class="inline-flex wa ma">
          
          <div>
            <span class="c1 fs14 fw7">3,9 Md€</span><br>
            <span class="c6 fs14 fw5">Budget global</span>
          </div>
          </div>
          <div class="inline-flex wa ma">  
            <div>
              <span class="c1 fs14 fw7">51%</span> <br>
              <span class="c6 fs14 fw5">Du budget des JOP24</span>
            </div>
          </div>
        
        </div>
      </div>
        <div class="row">
      <div id="container-pie2">      
    </div>    
  </div>
      </div>
    </div>
  </div>
  
  <br>
  
</div>
<script>
Highcharts.chart('container-pie', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie',
        backgroundColor: '#fff',
          style:{
          fontFamily: "Marianne Regular",
       
          },
    height: '350px',
    },
    title: {
         text:null,   
          style: {
                  color: "#6A6A6A",
                  fontWeight: "400",
                  fontStyle: "italic",
                  fontSize: '16px',
                  },
    },
  colors: ['#C68D7B',"#2E5D63",'#2323EA'],
  tooltip: {
        pointFormat: '{series.name}: <b>{point.y:,.0f} M€ </b>',
      borderColor: 'transparent',
   borderRadius: 16,
   backgroundColor: '#fff',
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
           size: 200,
            dataLabels: {
                enabled: true,
              connectorPadding: 0,
             // distance: 10,
                format: '<b>{point.name}</b><br>{point.y:,.0f} M€ <br> {point.percentage:.1f} %',
              style: {
                      color: "#6A6A6A",
                      fontSize: "11px",
                      fontWeight: "400",
                      fontStyle: "italic",
                      },
            }
        }
    },
    series: [{
        name: 'Total',
        colorByPoint: true,
        data: [{
            name: 'Etat',
            y:  933,
           
        }, {
            name: 'Privés',
            y: 2240,
        }, {
            name: 'Collectivités',
            y: 445,
        }]
    }]
});
</script>
<script>
Highcharts.chart('container-pie2', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie',
        backgroundColor: '#fff',
          style:{
          fontFamily: "Marianne Regular",
       
          },
    height: '350px',
    },
    title: {
         text:null,   
          style: {
                  color: "#6A6A6A",
                  fontWeight: "400",
                  fontStyle: "italic",
                  fontSize: '16px',
                  },
    },
  colors: ['#C68D7B',"#2E5D63",'#2323EA', "#5770BE",'#76505B'],
  tooltip: {
        pointFormat: '{series.name}: <b>{point.y} Md€ </b>',
      borderColor: 'transparent',
   borderRadius: 16,
   backgroundColor: '#fff',
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
           size: 200,
            dataLabels: {
                enabled: true,
              connectorPadding: 0,
             // distance: 10,
                format: '<b>{point.name}</b><br>{point.y} Md€ <br> {point.percentage:.1f} %',
              style: {
                      color: "#6A6A6A",
                      fontSize: "11px",
                      fontWeight: "400",
                      fontStyle: "italic",
                      },
            }
        }
    },
    series: [{
        name: 'Total',
        colorByPoint: true,
        data: [{
            name: 'Partenaires Paris 2024',
            y:  1.1,
           
        }, {
            name: 'CIO',
            y: 1.3,
        }, {
            name: 'Billeterie',
            y: 1.2,
        },{
            name: 'Concours publics',
            y: 0.1,
        },{
            name: 'Recettes diverses',
            y: 0.2,
        }]
    }]
});
</script>

<script>
  $('.menu-jeux').addClass('menu-active'); 
</script>