<div class='background'>
<%= render 'layouts/navigation_public'%> 
</div>
<div class="i100 visible-xs visible-sm"></div>
<div class="mxw1 pd32 ma">
  <div class="i24"></div>
  <div class="c2 fw6 fs40 tc">Mentions légales </div>
  <div class="i40"></div>
  
  <div  class="pd32 br20 bs bckc1">

    <div class="mentions-subtitle">Informations éditeur</div>

    <div class="mentions-subtitle">Service gestionnaire</div>

Direction du Budget, Ministère de l’Economie, des Finances et de la Relance

    <div class="mentions-subtitle">Directeur de la publication</div>

    <div class="mentions-subtitle">Hébergement du site</div>

    <div class="mentions-subtitle">Conception et développement</div>

La plateforme Datalympics est un outil développé par la Direction du Budget au sein du Ministère de l’Economie, des Finances et de la Relance.
Cette plateforme a vu le jour grâce au programme Entrepreneurs d’Intérêt Général financé par Etalab.

Datalympics a été conçu par Alexandra Leschi, développeuse et Lou Vettier, designer. 
Le projet a été soutenu par Benoit Laroche de Roussane et René Carlet.
Le code du portail est intégralement open source et mis à disposition sur les dépôts GitHub du projet.


Les informations proposées sur ce site le sont au titre de service rendu au public. Malgré tout le soin apporté à l’actualisation des textes officiels et à la vérification des contenus, les documents mis en ligne ne sauraient engager la responsabilité de la Direction du Budget.

Les informations et/ou documents disponibles sur ce site sont susceptibles d’être modifiés à tout moment, et peuvent faire l’objet de mises à jour.

La Direction du Budget ne pourra en aucun cas être tenu responsable de tout dommage de quelque nature qu’il soit résultant de l’interprétation ou de l’utilisation des informations et/ou documents disponibles sur ce site.

    <div class="mentions-subtitle">Données personnelles</div>

Lorsque des données présentes sur ce site ont un caractère nominatif, les utilisateurs doivent en faire un usage conforme aux réglementations en vigueur et aux recommandations de la Commission nationale de l'informatique et des libertés (CNIL).

Conformément à la loi Informatique et Liberté 78-17 du 6 janvier 1978 modifiée, vous disposez d'un droit d'opposition (art. 38), d'accès (art. 39), de rectification ou de suppression (art. 40) des données qui vous concernent. Vous pouvez exercer ce droit en vous adressant à la Direction du Budget.

    <div class="mentions-subtitle">Gestion des cookies</div>

Ce portail n'utilise aucun cookie nécessitant un consentement des usagers. C'est pourquoi vous n'avez pas à accepter leur utilisation avant de poursuivre votre navigation.

Cookies strictement nécessaires

Ce portail utilise les cookies suivants, nécessaires à son fonctionnement. Sans eux, vous ne pourrez pas l’utiliser normalement. Il s'agit de cookies déposés par Datalympics qui ne concernent que son fonctionnement.


    <div class="mentions-subtitle">Liens hypertextes</div>

Tout site public ou privé est autorisé à établir, sans autorisation préalable, un lien vers les informations diffusées par la Direction du Budget. En revanche, les pages du site ne doivent pas être imbriquées à l’intérieur des pages d’un autre site.

L’autorisation de mise en place d’un lien est valable pour tout support, à l’exception de ceux diffusant des informations à caractère polémique, pornographique, xénophobe ou pouvant, dans une plus large mesure porter atteinte à la sensibilité du plus grand nombre.

    <div class="mentions-subtitle">Disponibilité du site</div>

L’éditeur s’efforce de permettre l’accès au site 24 heures sur 24, 7 jours sur 7, sauf en cas de force majeure ou d’un événement hors du contrôle de la Direction générale des collectivités locales, et sous réserve des éventuelles pannes et interventions de maintenance nécessaires au bon fonctionnement du site et des services.
Il n’est prévu aucune assistance technique vis-à-vis de l’utilisateur que ce soit par des moyens électronique ou téléphonique.
La responsabilité de l’éditeur ne saurait être engagée en cas d’impossibilité d’accès à ce site et/ou d’utilisation des services.

    <div class="mentions-subtitle">Acceptation des conditions d’utilisation</div>

L’utilisateur reconnaît avoir pris connaissance des conditions d’utilisation, au moment de sa connexion vers le site Datalympics et déclare expressément les accepter sans réserve.
    
  </div>


  <br>
  
</div>

<script>
  $('.mentions').addClass('menu-active'); 
</script>