




<div class="reporting-page">
  <div class="reporting-title">Reporting AVRIL 2021</div>
  <div class="row">
    <div class="col-md-6">
      <div class="SD-table-box">
        
        <div class="reporting-box-title">Signatures des conventions</div>
        <div class="row">
          <div class="col-md-7">
            <div id="conventions"></div>
          </div>
          <div class="col-md-5">
            <div class="reporting-text">[X] CDO en cours de signature</div>
            <div class="reporting-text">[X] Avenants aux CDO en cours</div>
            <div class="reporting-text">[X] Avenants aux CTRAV en cours</div>
            <div class="reporting-text">[X] Protocole d'études en cours de signature (VDP)</div>
            <div class="reporting-text">[X] CDO en cours d’élaboration</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
    </div>
  </div>
</div>

<script>
window.onload = function() {  
  // Build the chart
Highcharts.chart('conventions', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie',
        style:{
          fontFamily: "Marianne Regular",
          },
        height: '300px',
        spacingTop: 0,
        marginTop:0,
    },
    title: {
        text: '29 <br>Conventions<br> signées',
        style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
                  fontStyle: "italic",
                  fontSize: '13px',
                  },
        //verticalAlign: "middle",
        y: 100,
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.y}</b>'
    },
    
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            size: 150,
            dataLabels: {
                enabled: true,
                format: '<b>{point.y}</b>',
                //useHTML: true,
                distance:5,
                padding:0,
              style: {
                      color: "#8F8F8F",
                      fontSize: "11px",
                      fontWeight: "400",
                      fontStyle: "italic",
                      },
            },
            showInLegend: true,
            innerSize: '80%',
        }
    },
    series: [{
        name: 'Conventions',
        colorByPoint: true,
        data: [{
            name: "Conventions d'objectifs",
            y: 25,
            color: "#587577",
        }, {
            name: "Conventions d'études",
            y: 13,
            color:'#C68D7B'
        }, {
            name: "Conventions de Travaux",
            y: 1,
            color:'#20E37B',
        },]
    }]
});
}
</script>
