
<div class="SD-topo-box">
  <div class="SD-topo-box-title">
    <span>Répartition des dépenses de la solideo</span>
  </div>
  <div class="SD-topo_chart-box">
    <div class="topo-chart">
      <%= pie_chart({"Ouvrages" => 1130507000, "Réserve" => 94470000, "Innovation" => 47300000, "Frais de fonctionnement" => 103975000}, library: {
      chart: {
           backgroundColor: '#F3F8FF',
        style:{
          fontFamily: "Spectral",
          maxWidth: "500px",
          }
        },
  title: {
    text:'<em>Dépenses prévues de la Solideo (2016)</em>',
        margin:40,
        style: {
          color: '#8F8F8F',
        
          },
    },

        tooltip: {
         # useHTML: true,
         # pointFormat: 'Montant : <b>{point.y:,.0f}€</b><br>',
         # shared: true,  
        },

        plotOptions: {
            pie: {
                allowPointSelect: true,
               # cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<em>{point.name}<br>{point.y:,.0f}€ - {point.percentage:.1f} %</em>',
                    style: {
                      color: "#8F8F8F",
                      fontSize: "12px",
                      fontWeight: "400",

                      }
                }
            }
        },
      }) %>

  </div>
    
    
      <div id="SD-topo-repartition">

        <%= column_chart [ {name: "Budget total prévu", data: [["ouvrages",1130507000],["reserve",94470000],["fonctionnement", 103975000],["innovation",47300000]]},{name: "Budget actuel dépensé", data: [["ouvrages",@solideo_depenses_ouvrages_total],["reserve",@solideo_financements_reserve],["fonctionnement", @solideo_financements_fonctionnement],["innovation",@solideo_financements_innovation]]} ], library: {
        chart:{
            type: 'column',
            backgroundColor: '#F3F8FF',
            style:{
            fontFamily: "Spectral",
               maxWidth: "500px",
            },
            },

        title: {
          text:'<em>Ratio du budget dépensé par rapport au budget prévu à date</em>',
          margin:40,
          style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
                  },
        },
  colors: ["#8F8F8F", "#48AF5C"],
        plotOptions: {
          column: {
            stacking: 'percent',
           label: { 
              enable: true,
            format: '<em>{point.value}</em>',
            style: {
                   color: "#8F8F8F",
                   fontSize: "12px",
                   fontWeight: "400",
                  },
              },
           },
          },
      legend: {
          reversed: true
        },
      xAxis: {
      reversed: false,
      },
      yAxis: {
          gridLineColor: '#E6F0FF', 
         },
      tooltip: {

              pointFormat: '<span style="color:{point.color}">●</span> {series.name}: <b>{point.y}€</b><br/>',

            }
          }
      %>
      </div>
         

  </div>
  

</div>
  

