
<div class="SD_page">

  <h1 class="SD_title">Le budget de la Solideo</h1>
  
<div class="SD-table-box">
  <div class="SD-topo-box-title">
        <span>La Solideo en chiffres</span>
      </div><br><br>
  <div class="row">
    <div class="col-md-6">
      
     
      <div class="calendar-infos">
        <div class="calendar-infos-box">
        <div>
        <i class="fas fa-chart-pie"></i>
        </div>
        <div>
        50%<br>
          <span>Du budget des JOP2024</span>
        </div>
      </div>
         <div class="calendar-infos-box">
        <div>
           <i class="fas fa-euro-sign"></i>
        </div>
        <div>
          4<br>
          <span>poles de dépenses</span>
        </div>
      </div>
      </div><br><br>
      <div class="calendar-infos">
        <div class="calendar-infos-box">
        <div>
        <i class="fas fa-building"></i>
        </div>
        <div>
        59<br>
        <span>ouvrages </span>
        </div>
      </div>
        <div class="calendar-infos-box">
        <div>
            <i class="fas fa-people-carry"></i>
        </div>
        <div>
          82 <br>
          <span>Employés</span>
        </div>
      </div>
      </div> 
       <br> <br><br>
       <div id="container-bar0">      
    </div>
   
    </div>
    <div class="col-md-6">
      <div id="container-pie">      
      </div> 
    </div>
    
  </div>
   <br><br>
</div>
  <br><br>
  <div  class="SD-table-box">
    <div class="SD-topo-box-title">
      <span>Dépenses de la solideo</span>
    </div><br><br>
    <div class="row">
      <div class="col-md-12">
        <div id="container-bar1">
          
        </div>
      </div>
    
    </div>
  </div>
  <br><br>

  <div id="table_filtres">
    <%= render 'table'%> 
    
 </div>


</div>


<script>

  $('.menu-solideo-depenses').addClass('menu-active2'); 
  $('.menu-solideo').addClass('menu-active'); 

  $('#MonCollapse').addClass('in'); 

</script>
<script>
Highcharts.chart('container-pie', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie',
        backgroundColor: '#fff',
          style:{
          fontFamily: "Spectral",
          maxWidth: "500px",
          },
      height: '400px',
    },
    title: {
         text:'Répartition des dépenses de la Solideo',   
          style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
                  fontStyle: "italic",
                  fontSize: '16px',
                  },
    },
  colors: ["#487F7F", '#F38C75', "#ac8c97", '#E0A922'],
    tooltip: {
        pointFormat: '{series.name}: <b>{point.y:,.0f}€ </b>'
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
           minSize: 200,
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b><br>{point.y:,.0f}€ - {point.percentage:.1f} %',
              style: {
                      color: "#8F8F8F",
                      fontSize: "11px",
                      fontWeight: "400",
                      fontStyle: "italic",
                      },
            }
        }
    },
    series: [{
        name: 'Total',
        colorByPoint: true,
        data: [{
            name: 'Ouvrages',
            y: 1130507000,
            sliced: true,
            selected: true
        }, {
            name: 'Réserve',
            y: 94470000,
        }, {
            name: 'Innovation',
            y: 47300000,
        }, {
            name: 'Fonctionnement',
            y:103975000,
        }]
    }]
});
</script>
<script>
Highcharts.chart('container-bar0', {
    chart: {
        type: 'bar',
      style:{
          fontFamily: "Spectral",
         maxWidth: '500px',
          },
      height: "200px",
    },
    title: {
        text: null,
        style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
          fontStyle: 'italic',
      fontSize: '16px',
                  },
    },
  colors: ['#4FC5CE'],
    xAxis: {
        categories:  ["Budget total","Part public", "Dépenses"],
        title: {
            text: null
        }
    },
    yAxis: {
        min: 0,
      gridLineColor: '#fff', 
        title: {
            text: 'Montant (€)',
            align: 'high'
        },
        labels: {
            overflow: 'justify'
        }
    },
    tooltip: {
        valueSuffix: ' €'
    },
  legend: {
    enabled: false,
  },
    plotOptions: {
        bar: {
            dataLabels: {
                enabled: true
            }
        }
    },
    
    credits: {
        enabled: false
    },
    series: [{
        name: 'Budget',
        data: [{y: <%= SolideoFinancement.all.sum('montant_prevu').to_i%> , color: "#3233FF"},{y: <%= SolideoFinancement.where('financeur != ?', "privé").sum('montant_prevu').to_i%> , color: "#C90200"}, {y: <%= SolideoFinancement.all.sum('montant').to_i%>, color: "#F9EA43"}],
     }]
});
  </script>

<script>
Highcharts.chart('container-bar1', {
    chart: {
        type: 'column',
      backgroundColor: '#fff',
          style:{
          fontFamily: "Spectral",
         
          },
    },
    title: {
        text: null,
        style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
          fontStyle: 'italic',
          fontSize: '16px',
                  },
    },

    xAxis: {
        categories: ['Réalisé 2018', 'Réalisé 2019', "Prév 2020 CA 2019", "Prev atterissage 2019", "Prev 2021"],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Budget (€)'
        },
      gridLineColor: "#fff",
    },
  legend: {
    enabled: false,
  },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} €</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0,
          dataLabels: {
                enabled: true
            }
        }
    },
    series: [{
        name: 'Budget',
        data: [{y:37, color:"#3233FF" }, {y:67, color:"#3233FF" }, {y:160, color: "#F9EA43"}, {y:111, color: "#8435FA"}, {y:228, color: "#C90200"}]

    }]
});
 </script> 
