<div class="SD_page">
  <div class="SD_home_button">
    <%= link_to root_path do %><i class="fas fa-chevron-left"></i><i class="fas fa-home"></i>Retour accueil<%end %>
  </div>
 
  <h1 class="SD_title">La Solideo</h1>
  
  <%= render 'solideo_financements/topo'%>
  <br><br>
  <%= render 'topo'%>
  <br><br>
  <div id="table_filtres">
    <%= render 'table'%> 
    
 </div>


</div>


