<div class="SD_page">
 
  <h1 class="SD_title">Documents Solideo </h1>
  
  <div class="SD-topo-box">
   <div class="SF-topo-financeurs-title"><span>Liste des Documents </span></div><br>
    <br>
    <div class="row">
     <div class="col-md-12">
        <div class="documents-mois-titre">
          Décembre 2020
        </div>
       <div class="documents-mois-doc">
         <i class="far fa-file-pdf"></i> Rapport de supervision décembre 2020 
           <div class="documents-etat-btn"><a type="button" data-toggle="modal" data-target="#file" >Transmettre</a></div>
           
       </div>
       <div class="documents-mois-doc">
         <i class="far fa-file-excel"></i> Maquette financements 2021 
           <div class="documents-etat-btn"><a type="button" data-toggle="modal" data-target="#file" >Transmettre</a></div>
           
       </div>
         <div class="documents-mois-doc">
         <i class="far fa-file-excel"></i> Maquette répartition financements 2021 
           <div class="documents-etat-btn"><a type="button" data-toggle="modal" data-target="#file" >Transmettre</a></div>
           
       </div>
         <div class="documents-mois-doc">
         <i class="far fa-file-excel"></i> Dépenses 2020 
           <div class="documents-etat-btn"><a type="button" data-toggle="modal" data-target="#file" >Transmettre</a></div>
           
       </div>
       <div class="documents-mois-doc">
         <i class="far fa-file-excel"></i> Tableau des engagements 2021 
           <div class="documents-etat-btn"><a type="button" data-toggle="modal" data-target="#file" >Transmettre</a></div>
           
       </div>
      </div>
    </div>  
  </div>
</div>

<script>

  $('.menu-solideo-docs').addClass('menu-active2'); 
  $('.menu-solideo').addClass('menu-active'); 

  $('#MonCollapse').addClass('in'); 

</script>