<div class="logo-ministere">
  <%= image_tag 'logo_ministere.png'%>
</div>
<div class="navbar-chorus-box">
    <div class="navbar-chorus">
    
    	<div class="page_w">       
          <div class="i40"></div>          
          <div class="bckc1">
            <div class="i40"></div>
            <div class="titre_page">Oops, cette page n'existe pas.</div>
            <div class="i40"></div>
            <div><%= link_to root_path, class: 'bouton' do %><i class="fas fa-arrow-left"></i> Retour à l'accueil<% end %></div>
            <div class="i40"></div>
            <div class="i40"></div>
          </div>
        </div>
    </div>
</div>