
        <div class="mxw1 pd32 ma">
          <div class="i24"></div>
          <div class="i40"></div>
          
          <div class="pd32 br20 bs bckc1">
            <div class="i40"></div>
            <div class="c1 fs40">Oops, cette page n'existe pas.</div>
            <div class="i40"></div>
            <div><%= link_to root_path, class: 'c1 fs22' do %>Retour Accueil<% end %></div>
            <div class="i40"></div>
          </div>
        </div>

