<div class="logo-ministere">
  <%= image_tag 'logo_ministere.png'%>
</div>
<div class="navbar-chorus-box">
  <div class="navbar-chorus">
    
    <div class="mxw1 pd32 ma">
        
          <div class="i40"></div>
          
          <div class="bckc1">
            <div class="i40"></div>
            <div class="c1 fs40 fw8">Oops, cette page n'existe pas.</div>
            <div class="i40"></div>
            <div><%= link_to root_path, class: 'c1 fs22' do %><i class="fas fa-arrow-left"></i> Retour à l'accueil<% end %></div>
            <div class="i40"></div>
            <div class="i40"></div>
          </div>
        </div>
  </div>
</div>