
<div  class="table-box">

<% if !@etat_depenses.nil? %>

    <div class="ED_table">
      <table>
        <thead>
          <tr>
            <th scope="col">Dates</th>
            <th scope="col"><%= link_to solideo_depenses_path do %>Solideo<%end%></th>
            <th scope="col">Cojo</th>
            <th scope="col">Héritage</th>
            <th scope="col">Haute Performance</th>
            <th scope="col" class="border-none">Total</th>
          </tr>
        </thead>
        <tbody>
          
        </tbody>
      </table>
    </div>
  
   <br><br>
     <div class="EB-details">
    <%= link_to "Voir le détails des dépenses de l'état" , etat_depenses_path %>
  </div>
  <% else %>
    <div>
      Aucune dépense renseignée
    </div>
  <%end%>
  
   
 
  
 
    
</div>