<div class="page_w">
 <div class="i24"></div>
  <div class="titre_page text-center">Suivi du budget de l'État</div>
  <div class="i12"></div>
  <div class="stitre_page text-center">Dernière mise à jour : 15 avril 2021 </div>
  <div class="i40"></div>
  <%= render 'topo'%>
  <%= render 'table'%>


  <div class="i24"></div>
</div>

<script>

  $('.menu-budget-global').addClass('menu-active'); 
</script>
  




