<div class="EB_page">

  <h1 class="EB_title">Suivi du budget de l'Etat pour les JOP2024</h1>
  <%= render 'topo'%>
  <%= render 'table'%>

</div>

<script>

  $('.menu-budget-global').addClass('menu-active'); 
</script>
  





