<div class="EB_page">
    <div class="ED_home_button">
    <%= link_to root_path do %><i class="fas fa-chevron-left"></i><i class="fas fa-home"></i>Retour accueil<%end %>
  </div>
  <h1 class="EB_title">Le budget de l'Etat</h1>
  <%= render 'topo'%>
  <%= render 'table'%>
  



  
  
</div>


  





