<div class="EB_page">
<h1 class="EB_title">Nouveau budget de l'état </h1><br>

<%= render 'form', etat_budget: @etat_budget %>
<br>
  <div class="EB_new_button">
    <%= link_to 'Retour', etat_budgets_path %>
  </div>

</div>
