<div class="page_w">
	<div class="i40"></div>
	<div class="titre_page text-center">Nouveau budget de l'état </div>
	<div class="i40"></div>
	<div class="ED_new_form_box"> 
		<%= render 'form', etat_budget: @etat_budget %>
  </div>
</div>
