<div class="SD-topo-box">
  <div class="SD-topo-box-title">
    <span>SOLIDEO</span>
  </div><br><br>
  <div class="row">
     <div class="col-md-6">
        
      <%= line_chart [{name: "AE prévus", data: @etat_depenses_solideo.unscope(:order).group_by_year(:date).sum(:ae_prevu)},{name: "AE consommés", data: @etat_depenses_solideo.unscope(:order).group_by_year(:date).sum(:ae_conso)}],colors: ['#8F8F8F','#48AF5C'],  library: {
        chart:{
          backgroundColor: '#fff',
          borderRadius: '20px',
         
          style:{
          fontFamily: "Spectral",
         
          },
        },
        title: {
          text: 'AE prévus VS AE consommés',
          style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
            fontStyle: 'italic',
            fontSize: '16px',
                  },
        },
        yAxis: {
             gridLineColor: '#fff',         
        },
        tooltip: {
              xDateFormat: '%B',
            },
        xAxis: {
             lineColor: '#004A70',
             type: 'datetime',
            
              title: {
              text: "Dates",
             },

         },
        plotOptions: {
          column: {
              tooltip: {
                xDateFormat: '%B',
              }
          }
        },
       
        }
      %>
             
     </div>
     <div class="col-md-6">

      <%= line_chart [{name: "CP prévus", data: @etat_depenses_solideo.unscope(:order).group_by_year(:date).sum(:cp_prevu)},{name: "CP consommés", data: @etat_depenses_solideo.unscope(:order).group_by_year(:date).sum(:cp_conso)}],colors: ['#8F8F8F','#48AF5C'],  library: {
        chart:{
          backgroundColor: '#fff',
          borderRadius: '20px',
          style:{
          fontFamily: "Spectral",
         
          },
        },
        title: {
          text: 'CP prévus VS CP consommés',
          style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
            fontStyle: 'italic',
            fontSize: '16px',
                  },
        },
        yAxis: {
             gridLineColor: '#fff',         
        },
        tooltip: {
              xDateFormat: '%B',
            },
        xAxis: {
             lineColor: '#004A70',
             type: 'datetime',
            
              title: {
              text: "Dates",
             },

         },
        plotOptions: {
          column: {
              tooltip: {
                xDateFormat: '%B',
              }
          }
        },
       
        }
      %>
             
     </div>
  </div>
</div>

<div class="SD-topo-box">
  <div class="SD-topo-box-title">
    <span>COJO</span>
  </div><br><br>
  <div class="row">
     <div class="col-md-6">
        
      <%= line_chart [{name: "AE prévus", data: @etat_depenses_cojo.unscope(:order).group_by_year(:date).sum(:ae_prevu)},{name: "AE consommés", data: @etat_depenses_cojo.unscope(:order).group_by_year(:date).sum(:ae_conso)}],colors: ['#8F8F8F','#48AF5C'],  library: {
        chart:{
          backgroundColor: '#fff',
          borderRadius: '20px',
         
          style:{
          fontFamily: "Spectral",
         
          },
        },
        title: {
          text: 'AE prévus VS AE consommés',
          style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
            fontStyle: 'italic',
            fontSize: '16px',
                  },
        },
        yAxis: {
             gridLineColor: '#fff',         
        },
        tooltip: {
              xDateFormat: '%B',
            },
        xAxis: {
             lineColor: '#004A70',
             type: 'datetime',
            
              title: {
              text: "Dates",
             },

         },
        plotOptions: {
          column: {
              tooltip: {
                xDateFormat: '%B',
              }
          }
        },
       
        }
      %>
             
     </div>
     <div class="col-md-6">

      <%= line_chart [{name: "CP prévus", data: @etat_depenses_cojo.unscope(:order).group_by_year(:date).sum(:cp_prevu)},{name: "CP consommés", data: @etat_depenses_cojo.unscope(:order).group_by_year(:date).sum(:cp_conso)}],colors: ['#8F8F8F','#48AF5C'],  library: {
        chart:{
          backgroundColor: '#fff',
          borderRadius: '20px',
          style:{
          fontFamily: "Spectral",
         
          },
        },
        title: {
          text: 'CP prévus VS CP consommés',
          style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
            fontStyle: 'italic',
            fontSize: '16px',
                  },
        },
        yAxis: {
             gridLineColor: '#fff',         
        },
        tooltip: {
              xDateFormat: '%B',
            },
        xAxis: {
             lineColor: '#004A70',
             type: 'datetime',
            
              title: {
              text: "Dates",
             },

         },
        plotOptions: {
          column: {
              tooltip: {
                xDateFormat: '%B',
              }
          }
        },
       
        }
      %>
             
     </div>
  </div>
</div>