<div class="page_w">
  <div class="i24"></div>
  <div>
    <%= link_to etat_depenses_path, class:"bouton" do %><i class="fas fa-chevron-left"></i>Retour<%end %>
  </div>
  	<div class="titre_page text-center">Modifier la dépense de l'Etat</div>

<%= render 'form', etat_depense: @etat_depense %>


</div>
