<%= render 'etat_depenses/search_filtres'%>
<div class="ED_page">
 
 
  <h1 class="ED_title">Les dépenses de l'Etat</h1>
  <div id="table_filtres">
    <%= render 'table'%>  
  </div>
  
<div>
   <%= render 'charts'%>   
  </div>
  
 


</div>


<script>

  $('.menu-budget-global').addClass('menu-active2'); 
  $('.menu-budget-etat').addClass('menu-active'); 

  $('#MonCollapse2').addClass('in'); 

</script>
  
