<%= render 'etat_depenses/search_filtres'%>
<div class="page_w">
  <div class="i24"></div>
  <div class="titre_page text-center">Les dépenses de l'Etat</div>
  <div class="i40"></div>
  <div id="table_filtres">
    <%= render 'table'%>  
  </div>
</div>


<script>

  $('.menu-budget-global').addClass('menu-active'); 
</script>
  
