<%= render 'etat_depenses/search_filtres'%>
<div class="ED_page">
  <div class="ED_home_button">
    <%= link_to root_path do %><i class="fas fa-chevron-left"></i><i class="fas fa-home"></i>Retour accueil<%end %>
  </div>
  <h1 class="ED_title">Les dépenses de l'Etat</h1>
  

  
  <div class="ED_new_depense">
    <%= link_to new_etat_depense_path do %><i class="fas fa-plus-circle"></i>Ajouter une dépense<%end%>
  </div>
  
  <div id="table_filtres">
    <%= render 'table'%> 
 </div>

 
</div>



