<div class="modal fade" id="modal-innovation" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog2 modal-dialog-centered" role="document">
    <div class="modal-content">
      
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="fs22 fw7 c2 pd8">Modifier un projet </div>
        

        <div id="innovation-form"></div>
      </div>
    </div>
   </div>
</div>



