<% if !Maquette.where('date = ?', @dates_maquettes[@dates_maquettes.length-1]).first.nil?%>
<div class="SD_page">
 
  <h1 class="SD_title SD_title2">Maquette financière </h1>
  <h1 class="SD_subtitle">Dernière mise à jour : <%= l(@dates_maquettes[0], format: "%e %B %Y") %></h1>
  


    <div class="SD-table-box" >
      <div class="SD-topo-box-title">
        <span>Évolution de la maquette budgétaire (fonds publics)</span>
      </div><br><br>
      

          

          <div id="maquette">
            <%= render 'maquette'%>
          </div>
    </div>
  
</div> 
  


  
  <script>

  $('.menu-solideo-maquette').addClass('menu-active2'); 
  $('.menu-solideo').addClass('menu-active'); 

  $('#MonCollapse').addClass('in'); 

</script>
  
  <% end %>