<% if !Maquette.where('date = ?', @dates_maquettes[@dates_maquettes.length-1]).first.nil?%>
<div class="page_w">
  <div class="i24"></div>
  <div class="titre_page text-center">Maquette financière </div>
  <div class="i12"></div>
  <div class="stitre_page text-center">Dernière mise à jour : <%= l(@dates_maquettes[0], format: "%e %B %Y") %></div>
  <div class="i40"></div>
  

  <div class="box_page" >
    <div><span class="titre_section">Évolution de la maquette budgétaire (fonds publics)</span></div>
    <div class="i24"></div>

    <div id="maquette">
      <%= render 'maquette'%>
    </div>
  </div>
  <div class="i24"></div>
</div> 
  

<script>

  $('.menu-solideo-maquette').addClass('menu-active2'); 
  $('.menu-solideo').addClass('menu-active'); 

  $('#MonCollapse').addClass('in'); 

</script>
  
<% end %>