<div class="EB_page">
  <div class="ED_home_button">
    <%= link_to ouvrages_depenses_path do %><i class="fas fa-chevron-left"></i>Retour<%end %>
  </div>
  <h1 class="EB_title">Ajouter une maquette </h1>
  <div class="ED_new_form_box">
  
  <div class="row">
    <div class="col-md-12">
       <div class="SF-new-box">
        <%=form_tag import_maquette_path, multipart: true do %>
         <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter maquette </span></label>
          
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            </div>
         
        <%end%>
      </div>
    </div>
  </div>
  </div>
</div>


<script>
  $('.SF_new_form_field_submit').hide();
    function readURL(input) {
      if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function(e) {
         
              
          }
          reader.readAsDataURL(input.files[0]);
      }
  }
  $("input").change(function() {
      readURL(this);
      $(this).parent().parent().parent().children('.SF_new_form_field_submit').show();
      $(this).parent().children('.SF-new-input-text').html($(this).val().replace(/C:\\fakepath\\/i, ''));
  });

</script>