@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

html{
  height: 100%;
}

body {
 font-family: 'Karla', sans-serif;
 background: #fff;
 min-height: 100%;
  width:100%;
 position: relative;
 margin: 0;
 padding: 0;
  padding-bottom:60px;
 }

.EB_page, .ED_page, .SD_page, .O_page {
  max-width:1200px;
  margin:0 auto;
  padding:50px 30px;
}

.EB_title, .ED_title, .SD_title{
  text-align:center;
  font-size:40px;
  font-weight:600;
  margin-bottom:50px;
}


.EB_bt_title{
  text-align:center;
  font-size:18px;
  font-weight:600;
  margin-bottom:10px;
  color: blue;
}
.EB_bt_number{
  text-align:center;
  font-size:18px;
  font-weight:600;
  margin-bottom:0px;
  color: blue;
}

.EB_br_title{
  text-align:center;
  font-size:18px;
  font-weight:600;
  margin-bottom:10px;
}
.EB_br_number{
  text-align:center;
  font-size:18px;
  font-weight:600;
  margin-bottom:50px;
}


.EB_new_button{
  text-align:center;
  margin:20px 0px 50px 0px;
  a{
    text-decoration:none;
    color:#000;
    border:1px solid #000;
    padding:10px 15px;
    border-radius:5px;
  }
}
.EB-details{
  text-align:center;
  a{
    color:#fff;
    background-color: #48AF5C;
    font-size:18px;
    font-weight:700;
    padding:6px 10px;
    border-radius:4px;
    text-transform:uppercase;
  }
}
.ED_home_button, .SD_home_button, .O_home_button{
  a{
    color:#48AF5C;
    font-size:15px;
    text-decoration:none;
    font-weight:400;
    display:flex;
    align-items:center;
    i{
      font-size:22px;
      margin-right:10px;
    }
  } 
}
.ED_new_depense{
  margin-bottom:0px;
  a{
    text-decoration:none;
    color:#444444;
    font-size:15px;
    font-weight:400;
    display:flex;
    align-items:center;
    i{
      color:#48AF5C;
      font-size:22px;
      margin-right:8px;
    }
  }
}
.ED_table{
  overflow-x:auto;
  margin-bottom:50px;
  table{
    width:100%;
    
   
    thead{
      tr{
        border-bottom:1px solid #48AF5C;
        margin-bottom: 40px;
        th{
          padding:15px 10px;
          text-align:center;
          color:#48AF5C;
          text-transform:uppercase;
          font-size:15px;
          border-right:1px solid #48AF5C;
          a{
            color:#48AF5C;
          }
        } 
        .border-none{
            border-right:none;
          }
      }
    }
    tbody{
      tr{
        border-bottom:1px solid #48AF5C;
        th{
          padding:8px 10px;
          text-align:center;
          color:#444444;
          text-transform:uppercase;
          font-size:15px;
          border-right:1px solid #48AF5C;
        } 
        td{
          padding:15px 10px;
          text-align:center;
          color:#444444;
          text-transform:uppercase;
          font-size:15px;
          border-right:1px solid #48AF5C;
          a{
            color:#004A70;
            text-decoration:none;
            margin:0 5px;
          }
          span{
            color: #48AF5C; 
          }
          .table-row{
                display: inline-flex;
                display: -webkit-inline-flex;
                display: -ms-inline-flex;
                display: -moz-inline-flex;
                width:100%;
          }
          .table-row-left{
            width:50%;
            text-align:right;
            color: #48AF5C; 
            padding-right:5px;
          }
          .table-row-right{
            width:50%;
            text-align:left;
           // color:#8F8F8F;
          }
         
        }
         .border-none{
            border-right:none;
          }
      }  
    }
    
  }
}
.ED_chart{
  margin-bottom:50px;
}
.ED_new_form_box, .SD_new_form_box{
  border:2px solid #48AF5C;
  border-radius:13px;
  padding:25px 35px;
  width:40%;
  margin:auto;
}
@media(max-width:992px){
  .ED_new_form_box, .SD_new_form_box{
    width:100%;
    margin:0 20px;
  }
}
.ED_new_form_field, .SD_new_form_field{
  margin-bottom:14px;
  position:relative;
  label{
    color:#8F8F8F;
    text-transform:uppercase;
    font-size:15px;
    line-height:33px;
  }
  select, input{
    float:right;
    width:35%;
    color:#444444;
    font-size:15px;
    padding:5px 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

.ED_new_form_input, .SD_new_form_input{
  border: 1px solid #48AF5C;
  
}
.ED_new_form_input_categorie, .SD_new_form_input_categorie{
   border: 1px solid #48AF5C;
}
.ED_new_form_input_titre, .SD_new_form_input_titre{
  border: 1px solid #48AF5C;
}
.ED_new_form_input_beneficiaire, .SD_new_form_input_beneficiaire{
  border: 1px solid #48AF5C;
}
.ED_new_form_input_date, .SD_new_form_input_date{
  border: 1px solid #48AF5C;
}
.ED_new_form_field_submit, .SD_new_form_field_submit{
  margin-top:50px;
  text-align:center;
  input{
    color:#fff;
    font-size:15px;
    text-transform:uppercase;  
    background-color:#48AF5C;
    border-radius:4px;
    padding:10px 15px;
    border:none;
  }
  
  
}


.ED_new_form_field_date:after, .ED_new_form_field_beneficiaire:after, .ED_new_form_field_titre:after, .SD_new_form_field_date:after, .SD_new_form_field_beneficiaire:after, .SD_new_form_field_titre:after {
    content: '<>';
  font-size: 15px ;
  color: #48AF5C;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 11px;
  /*Adjust for position however you want*/
  
  top: 7px;
  padding: 0 0 2px;
 
  /*left line */
  
  position: absolute;
  pointer-events: none;
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
display: none;
}


.ED_table_filtres{
  text-align:left;
  margin-bottom:30px;
  a{
    border: 1px solid #48AF5C;
    border-radius:4px;
    padding: 8px 20px;
    font-size:15px;
    color:#444444;
    text-decoration:none;
    i{
      color:#48AF5C;
      margin-left:10px;
    }
    &:hover{
      cursor:pointer;
    }
  }
}
.modal-content-search-filtres{
  padding:20px;
}
.modal-header{
  border-bottom:none;
  
}
.modal-title-search-filtres{
  color: #48AF5C;
  font-weight:700;
  font-size:22px;
  margin-bottom:20px;
}
.modal-search-filters-form-title{
  text-align:left;
  color: #48AF5C;
  font-size:15px;
  font-weight:700;
  padding-bottom:4px;
  border-bottom:1px solid #48AF5C;
  text-transform:uppercase;
  margin-bottom:14px;
}

.modal-search-filters-form{
  margin-bottom:26px;
  label{
    border: 1px solid #BDBDBD;
    padding:4px 8px;
    color: #444444;
    font-size:13px;
    margin-right:8px;
    border-radius:50px;
    font-weight:500;
    text-transform:uppercase;
    &:hover{
      cursor:pointer;
    }
  }
}
.modal-search-filters-form input[type="checkbox"] {
  display:none;
}
.modal-search-filters-form-active{
  background-color:#48AF5C;
  color:#fff !important;
  border: 1px solid #48AF5C;
}

.modal-search-filters-form-btn{
  text-align:center;
  input{
    background-color:#48AF5C;
    color:#fff;
    font-size:15px;
    padding:4px 8px;
    font-weight:700;
    border-radius:50px;
    border:none;
    text-transform:uppercase;
  }
}

.table-box{
  background-color:#F3F8FF;
  border-radius:20px;
  padding: 40px;
}

.SF-topo-box{
   background-color:#F3F8FF;
  border-radius:20px;
  padding: 40px;
   display: inline-flex;
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  display: -moz-inline-flex;
  width:100%;
  align-items:center;
}

.SF-topo-financeurs-title span, .O-topo-financeurs-title span{
  font-size:16px;
  font-weight:700;
  padding:4px 8px;
  color:#fff;
  background-color:#48AF5C;
  margin-bottom:10px;
  text-transform:uppercase;
}
.SF-topo-financeurs-box{
  display: inline-flex;
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  display: -moz-inline-flex;
  
}
.SF-topo-financeurs-name, .O-topo-financeurs-name{
  color:#48AF5C;
  font-size:16px;
  font-weight:700;
  margin-bottom:5px;
  text-transform:uppercase;
  width:200px;
  margin-right:50px;
  a{
    color:#48AF5C;
  }
}

.SF-topo-financeurs-budget{
  width:200px;
  display: inline-flex;
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  display: -moz-inline-flex;
}
.SF-topo-financeurs-budget-prevu{
   font-weight:500;
    font-size:12px;
  color: #8F8F8F;
  width:50%;
  text-align:right;
  margin-right:5px;
}
.SF-topo-financeurs-budget-actuel{
  font-weight:500;
    font-size:12px ;
   color:#48AF5C;
    width:50%;
  text-align:left;
}
.SF-topo-financeurs-subtitle, .O-topo-financeurs-subtitle{
  font-family: 'Spectral', sans-serif;
  color: #8F8F8F;
  font-weight:300;
  font-style: italic;
  font-size:12px;
  text-align:right;
  margin-bottom:5px;
}
.SD-topo-box{
   background-color:#F3F8FF;
  border-radius:20px;
  padding: 40px;
 
}
.SD-topo-box-title span{
  font-size:16px;
  font-weight:700;
  padding:4px 8px;
  color:#fff;
  background-color:#48AF5C;
  margin-bottom:10px;
  text-transform:uppercase;
}
.SD-topo_chart-box{
    display: inline-flex;
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  display: -moz-inline-flex;
  width:100%;
  align-items:center;
}

.SD-table-box{
   background-color:#F3F8FF;
  border-radius:20px;
  padding: 40px;

}

.O_title span{
    font-size:16px;
  font-weight:700;
  padding:4px 8px;
  color:#fff;
  background-color:#48AF5C;
  margin-bottom:10px;
  text-transform:uppercase;
}
.O-topo-box, .O-jalons-box{
   background-color:#F3F8FF;
  border-radius:20px;
  padding: 40px;
  display: inline-flex;
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  display: -moz-inline-flex;
  width:100%;
 
}

.O-name{
  a{
  color: #48AF5C;
  font-size:15px;
  font-weight:700;
  }
}
.new-ouvrage-text{
 color:#444444;
  font-size:15px;
  text-align:center;
}
.new-ouvrage-file input[type="file"]{
  margin:auto;
  text-align:center;
}

.O-topo-box-infos{
  width:50%;
}
.O-topo-infos-text{
 color:#8F8F8F;
 font-size:16px;
  line-height:22px;
  font-weight:700;
  
}

.O-topo-image{
  width:300px;
  height:150px;
  background-color:#8F8F8F;
 
}
.ouvrage-edit-btn {
  margin-top:50px;
  a {
  color:#444444;
  font-size:12px;
  margin-right:10px
  }
}
.O_jalon{
  color: #48AF5C;
  font-size: 16px;
  font-weight:700;
  margin-bottom:10px;
}

.SF-new-box, .SF-new-box form{
  display: inline-flex;
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  display: -moz-inline-flex;
  width:100%;
  align-items:center;
   margin-top:40px;
}
.SF-new-input{
 
  label{
    font-size:15px;
    padding: 25px 35px;
    color:#444444;
    border: 1px dashed #48AF5C;
    border-radius:4px;
    i{
      color: #48AF5C;
      margin-right:5px;
    }
    input{
      display: none;
    }
    &:hover{
      cursor:pointer;
    }
  }
}

.SF-new-file-exist {
  margin-top: 40px;
  text-align:center;
  span{
    font-size:15px;
      padding: 25px 35px;
      color:#fff;
    background-color: #48AF5C;
      border-radius:4px;
  }
}
.SF_new_form_field_submit{
  margin-left: 10px;
  button{
    color:#48AF5C;
    font-size:15px;
    text-transform:uppercase;  
    background-color:#fff;
    border-radius:4px;
    padding:20px;
    border:1px solid #48AF5C;
    border-radius:50px;
    &:hover{
     background-color:#48AF5C;
      color:#fff;
    }
  } 
  
}