<div class="modal fade" id="infospiece" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" >
      <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        
      </div>
      <div class="modal-body">  
<div class="ED_table" >
    <table class="table-striped">
      <thead>
        <tr>
          <th scope="col">Type piece</th>
      
            <th scope="col">Texte</th>
        

        </tr>
      </thead>

      <tbody>
        <tr>
              <td>A-AP</td><td>	Arrêté rattach. ADP</td>
        </tr>
        <tr>
          <td>A-BA</td><td>	Major. de crédits BA</td>
        </tr>
        <tr>
          <td>A-CS</td><td>	Major. dépenses CAS</td>
        </tr>
        <tr>
          <td>A-DE</td><td>	Avance MINDEF</td>
        </tr>
        <tr>
          <td>A-FC</td><td>	Arrêté rattach. FDC</td>
        </tr>
        <tr>
          <td>A-RE</td><td>	Reports (hors TF)</td>
        </tr>
        <tr>
          <td>A-RF</td><td>	Report (Fds de conc)</td>
        </tr>
        <tr>
          <td>A-RM</td><td>	Dot. de rémunération</td>
        </tr>
        <tr>
          <td>BLOC</td><td>	Blocage de dépenses</td>
        </tr>
        <tr>
          <td>CECD</td><td>	Eclatement CF et DF</td>
        </tr>
        <tr>
          <td>CECF</td><td>	Eclatement CF</td>
        </tr>
        <tr>
          <td>CEDF</td><td>	Eclatement DF</td>
        </tr>
        <tr>
          <td>CSRE</td><td>	Report solde CS</td>
        </tr>
        <tr>
          <td>CSRS</td><td>	Rep. Solde sect. CC</td>
        </tr>
        <tr>
          <td>CTCD</td><td>	Transfert CF et DF</td>
        </tr>
        <tr>
          <td>CTCF</td><td>	Transfert CF</td>
        </tr>
        <tr>
          <td>CTDF</td><td>	Transfert DF</td>
        </tr>
        <tr>
          <td>CTFI</td><td>	Transfert DP</td>
        </tr>
        <tr>
          <td>CTJT</td><td>	Transfert EJ et ET</td>
        </tr>
        <tr>
          <td>CTTF</td><td>	Transfert TF</td>
        </tr>
        <tr>
          <td>D-AB</td><td>	Avance non gagée</td>
        </tr>
        <tr>
          <td>D-AF</td><td>	Annulation de FDC</td>
        </tr>
        <tr>
          <td>D-AN</td><td>	Ann. crédits ss obj.</td>
        </tr>
        <tr>
          <td>D-AR</td><td>	Avance gagée recette</td>
        </tr>
        <tr>
          <td>D-AV</td><td>	Avance gagée</td>
        </tr>
        <tr>
          <td>D-DA</td><td>	Dépenses accident.</td>
        </tr>
        <tr>
          <td>D-EB</td><td>	Ann. équ. budgétaire</td>
        </tr>
        <tr>
          <td>D-NR</td><td>	Av. non gagée recett</td>
        </tr>
        <tr>
          <td>D-TR</td><td>	Transfert</td>
        </tr>
        <tr>
          <td>D-VT</td><td>	Virement</td>
        </tr>
        <tr>
          <td>DECA</td><td>	Déc. CAS nouveau</td>
        </tr>
        <tr>
          <td>DECO</td><td>	Déc. CS non doté</td>
        </tr>
        <tr>
          <td>DECS</td><td>	Déc. Section CCO</td>
        </tr>
        <tr>
          <td>ECPO</td><td>	Env./ret. créd. COR.</td>
        </tr>
        <tr>
          <td>EJBA</td><td>	Bascule EJ non sold.</td>
        </tr>
        <tr>
          <td>FHT2</td><td>	Fongibilité T2->HT2</td>
        </tr>
        <tr>
          <td>FT2</td><td>	Fongibilité HT2->T2</td>
        </tr>
        <tr>
          <td>LFI</td><td>	LFI</td>
        </tr>
        <tr>
          <td>LFRA</td><td>	LFR (annulation)</td>
        </tr>
        <tr>
          <td>LFRD</td><td>	Modif.découvert CS</td>
        </tr>
        <tr>
          <td>LFRO</td><td>	LFR (ouverture)</td>
        </tr>
        <tr>
          <td>LFRR</td><td>	LFR modif prévi rec</td>
        </tr>
        <tr>
          
          <td>LFRS</td><td>	Modif. déc. Sec. CCO</td>
        </tr>
        <tr>
          <td>MADI</td><td>	Mise à disposition</td>
        </tr>
        <tr>
          <td>MPRE</td><td>	Modif prév rec BA/CS</td>
        </tr>
        <tr>
          <td>MPRR</td><td>	Plafond FDC ADP</td>
        </tr>
        <tr>
          <td>P-AP</td><td>	Projet arrêté ADP</td>
        </tr>
          <tr>
            <td>P-FC</td><td>	Projet arrêté FDC</td>
        </tr>
        <tr>
          <td>PLF</td><td>	PLF</td>
        </tr>
        <tr>
          <td>REAE</td><td>	Réallocation d'ETPT</td>
        </tr>
        <tr>
          <td>REAP</td><td>	Réalloc. programme</td>
        </tr>
        <tr>
          <td>REC</td><td>	Bud.  Prév. recettes</td>
        </tr>
        <tr>
          <td>REJB</td><td>	Ret. AE ant. hors TF</td>
        </tr>
        <tr>
          <td>RPMA</td><td>	Mis. à disp. Reprise</td>
        </tr>
        <tr>
          <td>RPTA</td><td>	Aff. TF ant. Reprise</td>
        </tr>
        <tr>
          <td>TFA</td><td>	Affectation sur TF</td>
        </tr>
        <tr>
          <td>TFB</td><td>	Bascule de la TF</td>
        </tr>
        <tr>
          <td>TFD</td><td>	AE non conso. sur TF</td>
        </tr>
        <tr>
          <td>TFRA</td><td>	Ret. TF exe. antér.</td>
        </tr>
        <tr>
          <td>TFRC</td><td>	Ret. TF exe. courant</td>
        </tr>
        <tr>
          <td>URG</td><td>	Procedure d'urgence</td>
        </tr>
    
      </tbody>
    </table>
</div>
      </div>
    </div>
  </div>
</div>
