<div class="EB_page">
  <div class="SD-topo-box">
    <h1 class="chorus-index-title">DataChorus</h1>
    <div class="chorus-index-subtitle">Le logiciel qui déchiffre Chorus</div>
    <div class="chorus-index-programme"><%= link_to choru_path(:id => '350') do %> Programme 350 <% end %> </div>  
    <div class="chorus-index-programme"><%= link_to choru_path(:id => '0148') do %> Programme 148 <% end %> </div>
    <br>
  </div>
</div>
