<p id="notice"><%= notice %></p>

<h1>Chorus</h1>

<%= link_to choru_path(:id => '350') do %> Programme 350 <% end %> 

<br><br>
<%= link_to choru_path(:id => '0148') do %> Programme 148 <% end %> 
<br>

