<% if !@chorus.nil?%>
<div class="EB_page">

  <h1 class="EB_title">Programme <%= params[:id]%></h1>
   <div class="SD-topo-box">
    <div class="SD-topo-box-title2">
      Visualisation du Programme <%= params[:id]%>
    </div><br><br>
  
      <div id="programme_box">
        <%= render 'chorus/programme'%>
     </div>
       
  </div>

</div>
<% end %>

