<% if !@chorus.nil?%>
<div class="logo-ministere">
  <%= image_tag 'logo_ministere.png'%>
</div>
<div class="navbar-chorus-box">
<div class="navbar-chorus">
  <div class="navbar-chorus-onglet"><%= link_to chorus_path do %>Accueil<% end %></div>
  <div class="navbar-chorus-onglet2"><i class="fas fa-chevron-right"></i> Programme <%= params[:id]%></div>
  <div class="navbar-chorus-onglet2"><i class="fas fa-chevron-right"></i> 2020</div>
  <div class="navbar-chorus-onglet2"><i class="fas fa-chevron-right"></i> CP </div>
  <div class="navbar-chorus-onglet2"><i class="fas fa-chevron-right"></i> HT2</div>
  <div class="navbar-chorus-onglet2"><i class="fas fa-chevron-right"></i> Vision statique & dynamique</div>
  
  
</div>
</div>


<div class="EB_page">
      <div id="programme_box">
        <%= render 'chorus/programme'%>
     </div>
       
  

</div>

<script>
$('#statique-programme').hide();
 $('#statique-bop').hide();
  $('#statique-uo').hide();
  $("#dynamique").addClass('vision-active');
 $(function(){
   $("#statique").on("click",function(){ 
     $('#statique-programme').show();
     $('#statique-bop').show();
     $('#statique-uo').show();
     $('#dynamique-programme').hide();
     $('#dynamique-bop').hide();
     $('#dynamique-uo').hide();
     $("#statique").addClass('vision-active');
     $("#dynamique").removeClass('vision-active');
   })
    $("#dynamique").on("click",function(){ 
     $('#statique-programme').hide();
    $('#statique-bop').hide();
    $('#statique-uo').hide();
     $('#dynamique-programme').show();
    $('#dynamique-bop').show();
    $('#dynamique-uo').show();
      $("#dynamique").addClass('vision-active');
      $("#statique").removeClass('vision-active');
   })
 })
</script>
<% end %>

