<% if !@chorus.nil?%>
<div class="EB_page">

  <h1 class="EB_title">Programme <%= params[:id]%></h1>
   
  
      <div id="programme_box">
        <%= render 'chorus/programme'%>
     </div>
       
  

</div>
<% end %>

