<div class="logo-ministere">
  <%= image_tag 'logo_ministere.png'%>
</div>
<div class="navbar-chorus-box">
<div class="navbar-chorus">
  <div class="navbar-chorus-onglet"><%= link_to chorus_path do %>Accueil<% end %></div>
  <div class="navbar-public-onglet"> 
  <div class="">
     <div class="dropdown">
       <button class="btn btn-secondary dropdown-toggle dropwdown-menu-public-navbar" type="button" id="budget" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Les JOP 2024<i class="fas fa-chevron-down"></i></button>
        <div class="dropdown-menu dropwdown-menu-public-navbar-list" aria-labelledby="budget">       
          <li><a>Combien coutent les JOP2024 ? </a></li>
          <li><a>A quoi sert le budget des JOP2024 ?</a></li>
          <li><a>Qui fait les dépenses ?</a></li>
          <li><a>Quels sont les impacts ?</a></li>
       </div>
     </div>
  </div> 
  </div> 
  <div class="navbar-public-right"><%= link_to new_user_session_path do %><i class="fas fa-user-circle"></i>Connexion<%end%></div>
</div>

</div>

<script>
  $('.dropwdown-menu-public-navbar').click(function () {
  if($('.dropdown').hasClass('open')){
    $('.dropwdown-menu-public-navbar').removeClass('dropdown-public-active');
  }else{
    $('.dropwdown-menu-public-navbar').addClass('dropdown-public-active');
  }
});
</script>